aside{
    #back{
        width: 100px;
        height: 20px;
        border: none;
        margin: 15px 10px;
        background-color: #1ABC9C;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    .form-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0px;
        #identificador{
            width: 250px;
            height: 20px;
        }
        #problema{
            width: 250px;
            height: 180px;
        }
        button{
        width: 150px;
        height: 20px;
        border: none;
        margin: 5px 0px;
        background-color: #1ABC9C;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        }
        .checklist{
        margin: 10px 0px 10px;
        }
    }
    .columns{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}