*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: #1E3D47;
}

header{ 
    .header-container{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #112227;
        h1{
            color: #1ABC9C;
            font-size: large;
            margin: 10px 0px;
        }
        #notification{
            background-color: #1ABC9C;
            width: 35px;
            height: 25px;
            border: 0px;
            border-radius: 5px;
            margin: 10px 0px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 20px;
                height: 15px;
            }
        }
    }
}

.login-area{
    color: #1ABC9C;
    display: flex;
    background-color: #1E3D47;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    input{
        background-color: white;
        border-radius: 5px;
        border: 1px white solid;
        margin: 10px 0px;
        height: 20px;
    }
    label{
        font-size: large;
    }
    #log-button{
        background-color: #1ABC9C;
        width: 100px;
        height: 30px;
        border: 1px #1ABC9C solid;
        border-radius: 10px;
        font-size: large;
        color: white;
    }
    #log-button:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

main{
    background-color: white;
    height: 100%;
    display: none;
    .map-area{
       display: none;
       justify-content: center;
       margin: 30px 0px;
    }
    .call-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            background-color: #1ABC9C;
            border: 0px;
            border-radius: 35px;
            width: 175px;
            height: 35px;
            margin: 5px 0px;
            color: white;
            cursor: pointer;
        }
    }
    #chamados{
        flex-direction: column;
        width: 310px;
        padding: 5px;
        align-items: center;
        h2{
            margin: 10px 0px;
            color: #1ABC9C;
            text-decoration: underline;
        }
        p{
            margin: 5px 0px;
        }
    }
}

footer{
    display: flex;
    background-color: #1E3D47;
}